/***** BASE STYLES *****/
html {
    font-size: 16pt;
}

body {
    align-items: center;
    background-color: #ffffff;
    color: #000000;
    display: flex;
    flex-flow: row wrap;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    justify-content: center;
}

/***** GRID *****/
	
.full-width, .bottom-section, .top-section {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;
}

.section-one, .section-two, .section-three {
    align-items: center;
    border-top: 1px solid #a7a5a5;
    display: flex;
    flex-basis: 100%;
    flex-flow: row wrap;
    justify-content: flex-start;
}

/***** HEADER *****/

header {
    align-items: center;
    border-bottom: .25em solid #77a466;
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: center;
}
	
header h1 { 
    color: #77a466;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.47em;
    font-weight: 700;
    text-transform: uppercase;
}

header h1 span {
    color: #000000;
}

nav {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    line-height: 2em;
    text-align: center;
    width: 100%;
}

nav ul li a {
    color: #77a466;
    font-size: .75em;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

/***** MAIN *****/

main {
    align-items: center;
    display: flex;
    flex-basis: 100%;
    flex-flow: row wrap;
    justify-content: center;
}

/***** PICTURE *****/

main img {
    border-top: 5px solid #77a466;
    border-bottom: 5px solid #77a466;
    width: 100%;
}

/***** MAIN *****/

main h4 {
    color: #77a466;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
}

main p {
    color: #000000;
    font-size: .65em;
    font-weight: 400;
    line-height: 1.75em;
}

/***** THREE SECTIONS *****/

main h6 {
    color: #000000;
    font-size: .75em;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
    width: 100%;
}

.green-text {
    color: #77a466;
    font-size: .75em;
    font-weight: 400;
    line-height: 2.25em;
}

/***** FOOTER *****/

footer {
    align-items: center;
    display: flex;
    flex-basis: 100%;
    flex-flow: row wrap;
    justify-content: center;
}

footer h5 {
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: .65em;
    font-weight: 700;
    text-transform: uppercase;
}

footer h5 span {
    color: #77a466;
    font-family: 'Galada', cursive;
    font-size: 1.25em;
    font-weight: lighter;
    text-transform: lowercase;
}

/******* BREAKPOINTS ******/

@media only screen and (min-width: 768px) {

    .bottom-section {
        align-items: flex-start;
    }

    .section-one {
        box-sizing: border-box;
        flex-basis: 33.33%;
        padding-left: 0;
    }

    .section-two {
        border-left: 1px solid #a7a5a5;
        border-right: 1px solid #a7a5a5;
        box-sizing: border-box;
        flex-basis: 33.33%;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .section-three {
        box-sizing: border-box;
        flex-basis: 33.33%;
        padding-left: 10px;
    }
}

@media only screen and (min-width: 1200px) {

    header {
        border: none;
        justify-content: flex-start;
        width: 35%;
    }

    nav {
        justify-content: flex-end;
        width: 65%;
    }

    nav ul {
        display: flex;
        justify-content: space-between;
      }
}
